#corpo_coder{
    position: relative;
    height: 100%;
    width: 100%;
}
#poste_codigo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px auto;
    /*background-color: var(--bc_code);*/
    padding-top: 5px;
    border-radius: 0;
    box-shadow: 0px 0px 4px var(--cor_sec);
    border: 0px solid var(--cor_sec);
    width: 98%;
}
.pbl_partilhada #poste_codigo{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
#poste_codigo .container{
    padding: 0 5px;
}
#poste_codigo .codeMirror{
    height: 163px;
    opacity: 85%;
}
#poste_codigo .dados_usuario{
    position: relative;
    width: 100%;
    height: 62px;
}
#poste_codigo .dados_usuario{
    height: max-content;
    margin: 0;
}
#poste_codigo .dados_usuario .img{
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 50%;
}
#poste_codigo .dados_usuario .mais{
    width: 65px;
}
#poste_codigo .dados_usuario .mais .info{
    font-size: 20pt;
    text-align: center;
}
#poste_codigo .dados_usuario .nome{
    width: calc(100% - 110px);
    font-weight: bold;
    padding: 0 5px;
}
#poste_codigo .dados_usuario .data,
#coder_grande .dados_usuario .data{
    width: max-content;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px 5px;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#poste_codigo .dados_codigo{
    height: max-content;
}
#poste_codigo .dados_codigo h1,
#coder_grande .dados_codigo h1{
    font-size: 15pt;
    font-weight: lighter;
    padding: 3px;
    padding-right: 6px;
    text-align: right;
    margin: 5px 0;
    color: white;
    background-color: var(--cor_sec);
    border-radius: 20px;
    border-bottom-left-radius: 20;
    text-shadow: 0.2px 0.2px 0.5px;
    box-shadow: 0px 0px 6px var(--cor_sec);
}
#poste_codigo .dados_codigo .descricao{
    font-weight: lighter;
    margin: 0;
}
#poste_codigo .codigo{
    opacity: 100%;
    font-size: 13pt;
}
#poste_codigo .dados_reacao{
    margin-top: 5px;
}
#poste_codigo .dados_reacao .col{
    text-align: center;
    padding: 4px 0;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#poste_codigo .dados_reacao img{
    width: 35px;
    height: 35px;
    padding: 5px;
}
#poste_codigo .dados_reacao .inl{
    font-weight: bold;
    height: 35px;
    display: inline-block;
    width: 24%;
    text-align: center;
}
#poste_codigo .dados_reacao .contribuir{
    background-color: var(--cor_sec);
    color: var(--cor_pri);
    font-weight: bold;
}
#coder_grande{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    border: 1px solid var(--cor_sec);
    box-shadow: 0px 0px 4px var(--cor_sec);
    height: calc(100% - 2px);
}
#coder_grande .dados_usuario{
    position: relative;
    width: 100%;
    height: 67px;
}
#coder_grande .dados_usuario{
    height: max-content;
    margin: 0;
}
#coder_grande .dados_usuario .img{
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 50%;
}
#coder_grande .dados_usuario .mais{
    position: relative;
    width: 45px;
    padding: 0;
}
#coder_grande .dados_usuario .mais .info{
    font-size: 20pt;
    text-align: center;
}
#coder_grande .dados_usuario .mais .bg-code{
    font-size: 8pt;
    position: relative;
    left: 0;
    bottom: 0;
    width: 60px;
}
#coder_grande .dados_usuario .bg-code .dark,
#coder_grande .dados_usuario .bg-code .white{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
#coder_grande .dados_usuario .bg-code .dark{
    background-color: black;
    color: white;
}
#coder_grande .dados_usuario .bg-code .white{
    background-color: white;
    color: black;
}
#coder_grande .dados_usuario .nome{
    width: calc(100% - 90px);
    font-weight: bold;
    padding: 0;
}
#coder_grande .container{
    height: auto;
    padding: 0;
}
#coder_grande .codigo{
    position: relative;
    height: calc(100% - 137px);
}
#coder_grande .codigo .codeMirror{
    height: 100%;
}
#coder_grande .codigo .comparacao{
    width: calc(50% - 3px);
    height: 100%;
    display: inline-block;
}
#coder_grande .dados_reacao{
    position: relative;
    height: 35px;
}
#coder_grande .dados_reacao input{
    height: 30px;
    width: max-content;
    border-radius: 0;
    background-color: rgba(137, 43, 226, 0.3);
    color: var(--char_pri);
    border: none;
    margin-top: 3px;
}
#coder_grande .dados_reacao .selecionar_code{
    position: absolute;
    top: 0;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}
#coder_grande .dados_reacao .selecionar_code input{
    height: 30px;
    width: max-content;
    border-radius: 0;
    background-color: transparent;
    color: var(--char_pri);
    border-bottom: 2px solid var(--char_pri);
}
#coder_grande .dados_reacao .selecionar_code input.selecionado{
    border-bottom: 5px solid var(--cor_sec);
}
.corpo_comentar_coder{
    height: calc(100% - 90px);
    width: calc(100% - 40px);
    max-width: 400px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 55px 0 0 40px;
    background-color: var(--cor_pri);
    z-index: 10;
}

#corpo_coder .btn_abrir_area_cmt{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 49%;
    right: 5px;
    border-radius: 50%;
    background-color: var(--cor_sec);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 20pt;
    padding: 0 5px 5px 0px;
    margin: 0;
    opacity: 60%;
    z-index: 11;
}
#corpo_coder .btn_abrir_area_cmt:hover{
    opacity: 100%;
}
@media (min-width: 1100px){
    #corpo_coder{
        width: calc(100% - 300px);
        float: left;
    }
    .corpo_comentar_coder{
        position: relative;
        margin: 0;
        width: 299px;
        height: 100%;
        float: right;
    }
    #corpo_coder .btn_abrir_area_cmt{
        display: none;
    }
}
#corpo_coder #poste_codigo .codeMirror{
    width: 100%;
    height: 83%;
    opacity: 100%;
}
.lista_codigos{
    width: 100%;
    margin: 0px auto;
    border-bottom: 3px solid black;
    background-color: #7f7f7f;
}
.lista_codigos td.img{
    position: relative;
    width: 48px;
}
.lista_codigos div.img{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
}
.lista_codigos .titulo{
    font-size: 12pt;
    font-weight: bold;
}
.lista_codigos .info{
    padding: 5px 0;
}
.lista_codigos .info img{
    width: 22px;
    height: 22px;
}
.linguagen{
    width: max-content;
    padding: 3px;
    margin: 0 5px;
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.2);
    border: 2px solid yellow;
    color: yellow;
    border-radius: 10px;
    font-weight: bold;
}
.linguagen.php{
    color: rgb(59, 7, 108);
    border-color: rgb(59, 7, 108);
    background-color: rgba(0, 0, 255, 0.2);
}
.linguagen.c{
    color: rgb(5, 5, 165);
    border-color: rgb(5, 5, 165);
    background-color: rgba(70, 70, 194, 0.2);
    font-size: 14pt;
    padding: 0 6px;
    border-width: 3px;
}
.linguagen.python{
    background-color: rgba(0, 0, 255, 0.2);
    border: rgb(215, 215, 0);
    color: rgb(215, 215, 0);
}
.lista_codigos .dados_codigo{
    background-color: #595959;
    width: calc(100%  - 70px);
    width: fit-content;
}
.lista_codigos .fire{
    width: 35px;
    margin: 3px;
    background-color: #262626;
}
.lista_codigos .fire .icon{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lista_codigos .fire img{
    width: 70%;
    height: 70%;
}
.lista_codigos .fire .pts{
    font-size: 9pt;
    width: 100%;
    height: 29%;
    text-align: center;
    color: red;
}
.sugestoes{
    width: 100%;
    padding: 10px;
}
.sugestoes .sugestao{
    border-bottom: 2px solid #ddd;
    padding: 2px;
}
.sugestoes .sugestao:hover{
    background-color: #dddddd43;
}
.sugestoes .img_user{
    position: relative;
    width: 40px;
}
.sugestoes .img_user img{
    position: absolute;
    top: 0;
    left: 2px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.sugestoes .dados{
    width: calc(100% - 45px - 70px);
}
.sugestao .a-favor{
    width: 69px;
    padding: 0;
}
.sugestao .a-favor .container{
    padding: 0;
    margin: 0;
}
.sugestao .a-favor .col{
    padding: 0;
}
.sugestoes .dados .container{
    margin: 0;
    padding: 0;
}
.sugestoes .dados .nome{
    font-size: 13pt;
}
.sugestoes .dados .descricao p{
    padding: 0;
    margin: 0;

}
