:root{
    --cor_pri: rgb(255, 255, 255);
    --cor_sec: #2e356c;
    --cor_terc: white;
    --cor_quar: rgb(43, 226, 86);
    --cor_quinta: rgb(43, 226, 86);
    --char_pri: rgb(0, 0, 0);
    --char_sec: white;
    --bc_pbl: white;
    --bc_code: rgba(137, 43, 226, 0.1);
    --pbl_reac: rgba(0, 0, 0, 0.095);
}


